Repository ohioit/ansible-collection-roles, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, devcontianer, documentation, roles

Updated galaxy config, doc links, and ansible-lint config.
  .ansible-lint
  docs/docsite/links.yml
  galaxy.yml
Labels: none

Update repo name, refs.
  docs/docsite/links.yml
  galaxy.yml
Labels: none

Updates to actions.
  .github/workflows/ansible-lint.yml
  .github/workflows/extra-docs-linting.yml
  .github/workflows/labeler.yml
Labels: actions

Update actions again.
  .github/workflows/ansible-lint.yml
  .github/workflows/ansible-test.yml
  .github/workflows/extra-docs-linting.yml
  .github/workflows/labeler.yml
Labels: actions

Add release workflow.
  .github/workflows/release.yml
Labels: actions

Added first changelog fragment for testing.
  changelogs/fragments/0.0.1.yml
  galaxy.yml
Labels: none

Update release workflow.
  .github/workflows/release.yml
  CHANGELOG.md
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/config.yaml
  changelogs/fragments/0.0.1.yml
Labels: actions, documentation

Renamed release workflow, divided into prepre and publish actions.
  .github/workflows/release-prepare.yml
  .github/workflows/release-publish.yml
  .github/workflows/release.yml
Labels: actions

Updated to semVer logic on release-prepare workflow.
  .github/workflows/release-prepare.yml
  changelogs/fragments/0.0.1.yml
Labels: actions

Reset releases in changelog.yaml.
  changelogs/changelog.yaml
Labels: none

Reset changelogs.
  CHANGELOG.md
  CHANGELOG.rst
Labels: documentation

antsibull-changelog testing.
  CHANGELOG.md
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/0.0.1.yml
  galaxy.yml
Labels: documentation

Updated release workflows and changelog config.
  .github/workflows/release-prepare.yml
  .github/workflows/release-publish.yml
  changelogs/config.yaml
  changelogs/fragments/archive/.keep
Labels: actions

.github/labeler.yml:

---
actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*.yml"

devcontianer:
  - changed-files:
      - any-glob-to-any-file:
          - ".devcontainer/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "*.md"
          - doc/*.md

roles:
  - changed-files:
      - any-glob-to-any-file:
          - roles/**
